

ul,ol{
    background-color: lightpink;
}
/*id selector*/
#second{
    background-color: lightblue;
}
/*Grouping Selector*/
 h1,.third{ 
    background-color: palevioletred;
}
/*class selector*/
.first
{
    background-color: lightgreen;
}
.second
{
    background-color: lightcoral;
}