* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #333;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #111;
  opacity: 0.3;
}

.r {
  animation: redLight 9s infinite;
}

.y {
  animation: yellowLight 9s infinite;
  animation-delay: 2s;
}

.g {
  animation: greenLight 9s infinite;
  animation-delay: 4s;
}

/* Animations */
@keyframes redLight {
  0%, 33% { background-color: red; opacity: 1; }
  34%, 100% { background-color: #111; opacity: 0.3; }
}

@keyframes yellowLight {
  0%, 33% { background-color: #111; opacity: 0.3; }
  34%, 66% { background-color: yellow; opacity: 1; }
  67%, 100% { background-color: #111; opacity: 0.3; }
}

@keyframes greenLight {
  0%, 66% { background-color: #111; opacity: 0.3; }
  67%, 100% { background-color: green; opacity: 1; }
}
