
#container
{
    height:200px;
    width:300px;
    background-color:whitesmoke;
    position:relative;
    top:250px;
    left:600px;
}
#circle
{
    height:100px;
    width:100px;
    background-color:red;
    border-radius:50%;
    position:absolute;
    top:50px;
    left:100px;
}