

*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container
{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    perspective: 800px; /*for z axix*/
}

.box
{
    height:150px;
    width: 150px;
    cursor: pointer;
    transition:all 3s;
    /* transform: skewX(-9deg); */
}

.a{background-color: pink;}
/* .b{background-color: blueviolet;} */

.box:hover
{
     /* transform: scaleX(2);  */
     transform: translateZ(200px);
    
}