
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container
{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.box
{
    height:150px;
    width: 150px;
    background-color: pink;
    cursor: pointer;
    transition-property: all;
    transition-duration: 3s;
}
.box:hover
{
    width:300px;
    background-color: blueviolet;
    height:300px
}